{
    "tabWidth": 4,
    "useTabs": false,
    "bracketSameLine": true,
    "bracketSpacing": true,
    "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
    "overrides": [
        {
            "files": "*.astro",
            "options": {
                "parser": "astro"
            }
        }
    ]
}
