<div class="relative z-10 bg-gray-50">
    <div class="mx-auto max-w-5xl px-6 py-20 md:px-20 md:py-40">
        <div class="text-4xl font-medium md:text-7xl">
            We are your strategic partner in navigating the ever-evolving
            digital landscape with ease
        </div>
        <div class="mx-auto mt-16 flex flex-row md:mt-20">
            <!-- <div class="flex-1"></div> -->
            <div class="flex-1">
                <!-- <div class="text-4xl font-medium">
                Our passion for design innovation and new tech drives us to
                deliver some remarkable results
            </div> -->
                <div class="text-xl">
                    At Waak Labs, We are specialists in our field, bringing a
                    wealth of knowledge and expertise to every project. We're
                    committed to delivering excellence in the ever-evolving
                    digital landscape. When you choose us, you're choosing a
                    partner devoted to achieving extraordinary results.
                </div>
                <div class="mt-20 will-change-transform">
                    <a
                        href="/services"
                        class="group flex flex-row items-center justify-between border-t px-4 py-8">
                        <span
                            class="transition-transform group-hover:translate-x-4"
                            >Our Services</span
                        >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="transition-transform group-hover:-rotate-45"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"
                            ></path>
                            <path d="M5 12l14 0"></path>
                            <path d="M15 16l4 -4"></path>
                            <path d="M15 8l4 4"></path>
                        </svg>
                    </a>
                    <a
                        href="/about"
                        class="group flex flex-row items-center justify-between border-y px-4 py-8">
                        <span
                            class="transition-transform group-hover:translate-x-4"
                            >About us</span
                        >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="transition-transform group-hover:-rotate-45"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"
                            ></path>
                            <path d="M5 12l14 0"></path>
                            <path d="M15 16l4 -4"></path>
                            <path d="M15 8l4 4"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
