---
import { Image } from "astro:assets";
import BrickellTestimonialThumbnail from "../../assets/images/brickell-testimonial-thumbnail.png";
import ParallaxMove from "../../components/parallax-move.astro";
import MarqueeText from "../../components/marquee-text.astro";
---

<ParallaxMove startAt={100} padding={false}>
    <div
        id="hero"
        class="relative z-0 flex h-screen transform-gpu flex-col items-center justify-center overflow-hidden bg-white">
        <div
            class="pointer-events-none absolute inset-0 z-0 grid grid-cols-3 pt-40 opacity-10">
            <div class="bg-primary-700 blur-3xl"></div>
            <div></div>
            <div class="bg-primary-700 blur-3xl"></div>
            <div></div>
            <div class="bg-primary-700 blur-3xl"></div>
            <div></div>
        </div>
        <div
            class="flex w-full flex-col justify-center p-6 md:flex-row md:items-center md:p-10">
            <div
                class="mb-6 font-mono text-xs font-bold uppercase md:mb-0 md:p-10 md:text-right">
                Welcome
            </div>
            <div class="max-w-xl flex-1 text-3xl leading-tight md:p-10">
                <span>We are Waak Labs.</span>
                <span class="mt-6 block md:ml-1 md:mt-0 md:inline"
                    >We design & develop digital products.</span
                >
            </div>
        </div>
        <a href="#testimonial-brickell" class="group relative">
            <div
                class="rounded-full px-4 py-2 transition-colors duration-300 will-change-transform group-hover:bg-primary-800 group-hover:text-white">
                <div
                    class="relative z-20 flex flex-row items-center justify-center gap-4">
                    <span class="relative h-4 w-4">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="absolute"
                            width="16"
                            height="16"
                            viewBox="0 0 24 24"
                            stroke-width="2"
                            stroke="currentColor"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                            ></path><path
                                d="M6 4v16a1 1 0 0 0 1.524 .852l13 -8a1 1 0 0 0 0 -1.704l-13 -8a1 1 0 0 0 -1.524 .852z"
                                stroke-width="0"
                                fill="currentColor"></path></svg
                        >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="absolute animate-ping"
                            width="16"
                            height="16"
                            viewBox="0 0 24 24"
                            stroke-width="2"
                            stroke="currentColor"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                            ></path><path
                                d="M6 4v16a1 1 0 0 0 1.524 .852l13 -8a1 1 0 0 0 0 -1.704l-13 -8a1 1 0 0 0 -1.524 .852z"
                                stroke-width="0"
                                fill="currentColor"></path></svg
                        >
                    </span>
                    <span class="">View our recent testimonial</span>
                </div>
            </div>
            <Image
                src={BrickellTestimonialThumbnail}
                width="400"
                height="450"
                alt="Image of Waseem, Founder of Waak Labs and Andres Larin, Founder or Brickell.com talking heads"
                class="absolute -top-1/2 right-0 z-20 h-32 w-32 rotate-12 rounded-lg opacity-0 transition-opacity duration-300 will-change-transform group-hover:opacity-100"
            />
        </a>
        <div
            class="absolute bottom-[-4%] hidden overflow-hidden will-change-transform md:block lg:bottom-[-10%]">
            <MarqueeText text="WE ARE WAAKLABS" disableOnSmallDevices />
        </div>
    </div>
</ParallaxMove>
