<div class="relative z-20 bg-gray-50 py-40 lg:py-60">
    <div class="mx-auto max-w-7xl px-10">
        <div
            class="mx-auto max-w-4xl pb-20 text-6xl font-medium lg:pb-60 lg:text-7xl">
            Whether you're looking to launch a product or revamp your strategy,
            we make it happen.
        </div>
        <div class="border-t border-gray-300 py-2"></div>
        <div class="flex flex-row gap-20 md:mt-10 lg:mt-16">
            <div
                class="hidden flex-1 pt-2 text-center font-mono text-xs font-bold uppercase lg:block">
                Get to know us
            </div>
            <div class="max-w-2xl">
                <div class="text-xl font-medium md:text-3xl lg:text-5xl">
                    Our commitment to staying ahead of the curve ensures that
                    your brand stays relevant and competitive in today's fast
                    paced digital world.
                </div>
                <div class="mt-10 text-xl">
                    With a team of experienced experts in design, development,
                    digital marketing, and strategy, we craft bespoke solutions
                    that not only meet your goals but exceed your expectations.
                    We believe that every project is an opportunity to showcase
                    our dedication to excellence and to help you stand out in
                    the digital crowd.
                </div>
            </div>
        </div>
    </div>
</div>
