---
import ParallaxMove from "../../components/parallax-move.astro";
import BigTitle from "../../components/big-title.astro";

interface Approach {
    index: string;
    title: string;
    description: string;
}

const approaches: Approach[] = [
    {
        index: "01",
        title: "Analysis",
        description:
            "We start by analyzing your goals, objectives, and vision to ensure our work aligns with your business.",
    },
    {
        index: "02",
        title: "Customization",
        description:
            "We design and develop custom solutions that cater to your unique needs and challenges.",
    },
    {
        index: "03",
        title: "Collaboration",
        description:
            "Our open and collaborative approach involves you in every step of the project, ensuring your feedback and ideas are valued.",
    },
    {
        index: "04",
        title: "Quality",
        description:
            "Rigorous testing and quality control are integral to our process, ensuring a final product of the highest standard.",
    },
    {
        index: "05",
        title: "Punctuality",
        description:
            "We commit to delivering on time, so your projects remain on schedule and within budget.",
    },
    {
        index: "06",
        title: "Support",
        description:
            "Our  team remains available even after project completion, ensuring the ongoing success of our collaboration.",
    },
];
---

<ParallaxMove>
    <div class="mx-auto max-w-7xl px-10 pb-20 pt-20">
        <BigTitle
            title="Approach"
            caption="Our way of working"
            description="Crafting exceptional software isn't just about code; it's understanding your unique challenges, vision, and goals."
        />
        <div
            class="mx-auto my-20 grid max-w-7xl grid-cols-1 gap-28 px-6 md:grid-cols-2 lg:my-40 lg:grid-cols-3">
            {
                approaches.map((approach) => (
                    <div class="flex flex-col gap-6">
                        <div class="font-mono text-4xl font-medium lg:text-6xl">
                            {approach.index}
                        </div>
                        <div class="text-3xl font-medium lg:text-4xl 2xl:tracking-tight">
                            {approach.title}
                        </div>
                        <div class="text-lg">{approach.description}</div>
                    </div>
                ))
            }
        </div>
    </div>
</ParallaxMove>
