---
import BigTitle from "../../components/big-title.astro";
interface Principle {
    index: string;
    title: string;
    description: string;
}

const principles: Principle[] = [
    {
        index: "01",
        title: "Client-Centricity",
        description:
            "Our clients are at the heart of everything we do. We prioritize your needs, objectives, and vision, ensuring that every project aligns with your business goals.",
    },
    {
        index: "02",
        title: "Innovation and Creativity",
        description:
            "We foster a culture of innovation and creativity, pushing the boundaries of what's possible. Our solutions are infused with fresh ideas to stay ahead in the ever-evolving tech landscape.",
    },
    {
        index: "03",
        title: "Quality Assurance",
        description:
            "We maintain an unwavering commitment to quality. Rigorous testing and quality control are integral to our process, ensuring that the final product is of the highest standard.",
    },
    {
        index: "04",
        title: "Transparency and Collaboration",
        description:
            "Open communication and collaboration are core to our work. We engage you in every step of the project, ensuring your feedback and ideas are valued.",
    },
    {
        index: "05",
        title: "On-Time Delivery",
        description:
            "We are dedicated to delivering projects on time, ensuring they remain on schedule and within budget.",
    },
    {
        index: "06",
        title: "Ongoing Support",
        description:
            "Our team remains available even after project completion, ensuring the ongoing success of our collaboration.",
    },
];
---

<div class="relative z-10 bg-gray-50">
    <div class="mx-auto max-w-7xl px-10 py-20">
        <BigTitle
            title="Priciples"
            caption="How We Work"
            description="There's a few core principles that define us and are absolute key to our success"
        />

        <div class="mx-auto my-20 flex max-w-7xl flex-col items-center">
            {
                principles.map((approach) => (
                    <div class="flex flex-row items-start gap-10 border-b border-gray-200 py-20 first:border-y">
                        <div class="text mt-2 font-mono font-bold">
                            {approach.index}
                        </div>
                        <div class="">
                            <div class="text-2xl font-medium 2xl:tracking-tight">
                                {approach.title}
                            </div>
                            <div class="mt-4 max-w-2xl text-lg">
                                {approach.description}
                            </div>
                        </div>
                    </div>
                ))
            }
        </div>
    </div>
</div>
