---
import { v4 as uuidv4 } from "uuid";

interface Props {
    title: string;
    caption: string;
    description: string;
}

const bigTitleId = "big-title-" + uuidv4();
const { title, caption, description }: Props = Astro.props;
---

<>
    <div
        class="overflow-hidden text-left text-7xl font-bold tracking-tight md:text-9xl md:uppercase lg:text-[220px]">
        <div id={bigTitleId}>{title}</div>
    </div>
    <div
        class="mt-8 flex max-w-7xl flex-row items-center gap-20 md:mt-10 lg:mt-16">
        <div
            class="hidden flex-1 pt-2 text-center font-mono text-xs font-semibold uppercase lg:block">
            {caption}
        </div>
        <div
            class="max-w-2xl text-xl font-medium md:text-3xl lg:text-4xl 2xl:tracking-tight">
            {description}
        </div>
    </div>
</>

<script define:vars={{ bigTitleId }}>
    document.addEventListener("DOMContentLoaded", () => {
        setupBigTitleSlideUpAnimation(bigTitleId);
    });
</script>
