---
import HoverScrollText from "./hover-scroll-text.astro";
interface Props {
    text: string;
    href: string;
    showArrow?: boolean;
}

const { text, href, showArrow = false } = Astro.props;
---

<a
    href={href}
    class="group flex max-w-fit flex-row items-center gap-2 bg-primary-800 px-8 py-4 text-center text-white">
    <span><HoverScrollText>{text}</HoverScrollText></span>
    {
        showArrow && (
            <svg
                xmlns="http://www.w3.org/2000/svg"
                class="inline-block transition-transform duration-500 group-hover:-rotate-45"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M5 12l14 0" />
                <path d="M15 16l4 -4" />
                <path d="M15 8l4 4" />
            </svg>
        )
    }
</a>
