---
import MarqueeText from "./marquee-text.astro";
import HoverScrollText from "./hover-scroll-text.astro";
import { services } from "../data/services";
import { socialLinks } from "../data/social";

const year = new Date().getFullYear();

interface FooterLink {
    name: string;
    url: string;
}

interface FooterLinkSection {
    sectionName: string;
    links: FooterLink[];
}

const footerLinks: FooterLinkSection[] = [
    {
        sectionName: "Company",
        links: [
            {
                name: "About",
                url: "/about",
            },
            {
                name: "Works",
                url: "/works",
            },
            {
                name: "Services",
                url: "/services",
            },
            {
                name: "Contact Us",
                url: "/contact",
            },
        ],
    },
    {
        sectionName: "Services",
        links: services.map((service) => ({
            name: service.title,
            url: "/services#" + service.id,
        })),
    },
    {
        sectionName: "Social",
        links: socialLinks.map((link) => ({
            name: link.name,
            url: link.url,
        })),
    },
];
---

<footer id="parallax-footer" class="relative bg-primary-800 text-white">
    <div class="mt-20 hidden overflow-hidden md:block">
        <MarqueeText text="REACH OUT TO US" />
    </div>
    <div class="mt-20 flex flex-col items-center gap-10 p-10 md:mt-0">
        <div class="text-center text-3xl md:text-5xl">
            Ready to bring your idea to life?
        </div>
        <a
            href="/contact"
            class="group mx-auto bg-white px-6 py-4 font-medium text-primary-800"
            ><HoverScrollText>Consult Now</HoverScrollText></a
        >
    </div>
    <div
        class="mt-10 flex flex-col gap-20 px-6 py-10 md:mt-20 md:px-20 lg:flex-row lg:items-center">
        <div class="flex-1">
            <div>
                <svg
                    width="80"
                    height="50"
                    viewBox="0 0 466 212"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M36 174L2.12342e-07 4.5H55.5L84.3 156.9C84.1 155.9 83.8 155.1 83.4 154.5C83 153.9 82.4 153.6 81.6 153.6C80.8 153.6 80.2 153.9 79.8 154.5C79.4 155.1 79 155.9 78.6 156.9L104.4 42.3C107.8 27.5 113 16.8 120 10.2C127 3.39999 135.9 -1.71661e-05 146.7 -1.71661e-05C157.5 -1.71661e-05 166.4 3.39999 173.4 10.2C180.6 16.8 185.8 27.5 189 42.3L214.8 156.9C214.6 155.9 214.2 155.2 213.6 154.8C213.2 154.2 212.6 153.9 211.8 153.9C211 153.9 210.4 154.2 210 154.8C209.6 155.2 209.3 155.9 209.1 156.9L237.9 4.5H293.4L257.4 174C254.8 186.2 249.7 195.6 242.1 202.2C234.5 208.6 225.2 211.8 214.2 211.8C204.4 211.8 195.5 208.7 187.5 202.5C179.5 196.1 174.2 187.4 171.6 176.4L143.7 53.7C144.1 54.5 144.5 55.2 144.9 55.8C145.3 56.2 145.9 56.4 146.7 56.4C147.5 56.4 148.1 56.2 148.5 55.8C149.1 55.4 149.5 54.7 149.7 53.7L121.8 176.4C119.2 187.4 113.9 196.1 105.9 202.5C98.1 208.7 89.2 211.8 79.2 211.8C68.2 211.8 58.9 208.6 51.3 202.2C43.7 195.6 38.6 186.2 36 174ZM375.914 4.5V156H465.314V207H368.414C351.414 207 339.114 202.8 331.514 194.4C324.114 186 320.414 174.7 320.414 160.5V4.5H375.914Z"
                        fill="currentColor"></path>
                </svg>
            </div>
            <div class="mt-2 max-w-sm text-xl">
                World Class Web & Mobile App Development Services.
            </div>
            <div class="mt-8 max-w-sm text-sm">
                52/18, 1st Floor, Mannar Swamy Koil Street, Pulianthope, Chennai
                600012
            </div>
            <div class="mt-2 text-sm">GSTIN: 33ERSPD0925E0</div>
        </div>
        <div
            class="flex flex-1 flex-col justify-between gap-12 md:flex-row md:gap-24 xl:max-w-3xl">
            {
                footerLinks.map((footerLink) => (
                    <div>
                        <div class="mb-4 text-lg font-bold">
                            {footerLink.sectionName}
                        </div>
                        <div class="flex flex-col gap-3 text-base">
                            {footerLink.links.map((link) => (
                                <a href={link.url}>
                                    <HoverScrollText>
                                        {link.name}
                                    </HoverScrollText>
                                </a>
                            ))}
                        </div>
                    </div>
                ))
            }
        </div>
    </div>
    <div class="px-6 md:px-20">
        <div
            class="border-t border-gray-50/20 py-6 text-center font-mono text-sm">
            ©{year}. Waak Labs
        </div>
    </div>
</footer>

<script is:inline>
    document.addEventListener("DOMContentLoaded", () => {
        if (window.screen.width > 400) {
            const footer = document.querySelector(`#parallax-footer`);
            gsap.registerPlugin(ScrollTrigger);
            gsap.set(footer, { yPercent: -50 });
            gsap.to(footer, {
                scrollTrigger: {
                    trigger: footer,
                    scrub: true,
                    id: "footer",
                },
                yPercent: 0,
            });
        }
    });
</script>
