---
interface Props {
    className?: string;
}
const { className = "" }: Props = Astro.props;
---

<div class={className + " group relative overflow-hidden"}>
    <div
        class="transition-transform duration-500 group-hover:-translate-y-full">
        <slot />
    </div>
    <div
        class={className +
            " absolute inset-0 translate-y-full transition-transform duration-500 group-hover:translate-y-0"}>
        <slot />
    </div>
</div>
