---
interface Props {
    text: string;
    disableOnSmallDevices?: boolean;
}

const idNum = Math.ceil(Math.random() * 100 + new Date().getTime());
const id = `marquee-text-${idNum}`;
const { text, disableOnSmallDevices = false } = Astro.props;
---

<div class="overflow-hidden">
    <div
        id={id}
        class="flex flex-row gap-10 text-[150px] font-bold leading-none opacity-0 md:text-[200px] lg:text-[300px]">
        {
            Array(10)
                .fill(text)
                .map((text) => <div class="whitespace-nowrap">{text}</div>)
        }
    </div>
</div>

<script define:vars={{ id, disableOnSmallDevices }}>
    document.addEventListener("DOMContentLoaded", (event) => {
        if (window.screen.availWidth < 400 && disableOnSmallDevices) {
            return;
        }
        setupMarqueeSlideLeftAnimation({
            id: id,
        });
    });
</script>
