---
import { Image } from "astro:assets";
import Logo from "../assets/images/logo-black.svg";
import HoverScrollText from "./hover-scroll-text.astro";
import NavbarMenu from "./navbar-menu.astro";
---

<nav
    class="fixed inset-x-0 top-0 z-[98] flex w-screen flex-row items-center justify-between overflow-auto bg-white/10 py-4 pl-6 backdrop-blur-md md:pl-12 md:pr-40">
    <!-- <Image
    src={Logo}
    alt="Logo of WAAK Labs, Two letters spelling W & L"
    width={50}
    height={50}
    class="text-primary-800"
  /> -->
    <a href="/">
        <svg
            width="50"
            height="50"
            viewBox="0 0 466 212"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
                d="M36 174L2.12342e-07 4.5H55.5L84.3 156.9C84.1 155.9 83.8 155.1 83.4 154.5C83 153.9 82.4 153.6 81.6 153.6C80.8 153.6 80.2 153.9 79.8 154.5C79.4 155.1 79 155.9 78.6 156.9L104.4 42.3C107.8 27.5 113 16.8 120 10.2C127 3.39999 135.9 -1.71661e-05 146.7 -1.71661e-05C157.5 -1.71661e-05 166.4 3.39999 173.4 10.2C180.6 16.8 185.8 27.5 189 42.3L214.8 156.9C214.6 155.9 214.2 155.2 213.6 154.8C213.2 154.2 212.6 153.9 211.8 153.9C211 153.9 210.4 154.2 210 154.8C209.6 155.2 209.3 155.9 209.1 156.9L237.9 4.5H293.4L257.4 174C254.8 186.2 249.7 195.6 242.1 202.2C234.5 208.6 225.2 211.8 214.2 211.8C204.4 211.8 195.5 208.7 187.5 202.5C179.5 196.1 174.2 187.4 171.6 176.4L143.7 53.7C144.1 54.5 144.5 55.2 144.9 55.8C145.3 56.2 145.9 56.4 146.7 56.4C147.5 56.4 148.1 56.2 148.5 55.8C149.1 55.4 149.5 54.7 149.7 53.7L121.8 176.4C119.2 187.4 113.9 196.1 105.9 202.5C98.1 208.7 89.2 211.8 79.2 211.8C68.2 211.8 58.9 208.6 51.3 202.2C43.7 195.6 38.6 186.2 36 174ZM375.914 4.5V156H465.314V207H368.414C351.414 207 339.114 202.8 331.514 194.4C324.114 186 320.414 174.7 320.414 160.5V4.5H375.914Z"
                fill="currentColor"></path>
        </svg>
        <span class="sr-only">Waak Labs</span>
    </a>

    <div class="hidden flex-row items-center gap-8 text-xs md:flex">
        <div class="flex flex-col gap-1">
            <a href="mailto:hello@waaklabs.com" class="group"
                >E: <span class="group-hover:underline">hello@waaklabs.com</span
                ></a
            >
            <a href="tel:+918248899344" class="group"
                >P: <span class="group-hover:underline">+91 8248899344</span></a
            >
        </div>
        <div>
            <div>GSTIN: 33ERSPD0925E0</div>
            <div>Local Time: <span id="local-time">-</span></div>
        </div>
        <a
            href="/contact"
            class="group bg-primary-800 px-6 py-4 text-sm text-white"
            ><HoverScrollText>Consult now</HoverScrollText></a
        >
    </div>
</nav>

<script>
    const localTimeElement = document.querySelector("#local-time")!;
    function updateTime() {
        const timeNow = new Date();
        const time = timeNow.toLocaleString("en-IN", {
            hour: "numeric",
            minute: "numeric",
            hour12: true,
        });
        localTimeElement.textContent = time.toUpperCase();
        console.log(time);
    }
    setInterval(updateTime, 60 * 1000);
    updateTime();
</script>
