---
import MarqueeText from "../../components/marquee-text.astro";
import ParallaxMove from "../../components/parallax-move.astro";
---

<div class="bg-white pt-40">
    <MarqueeText text="GET IN TOUCH" />
    <div class="mx-10 h-1 border-t border-gray-200"></div>
    <div class="mx-auto max-w-7xl px-10">
        <div class="flex flex-row gap-20 md:mt-10 lg:mt-16">
            <div
                class="hidden flex-1 pt-2 text-center font-mono text-xs font-bold uppercase lg:block">
                Contact
            </div>
            <div class="max-w-2xl text-lg font-medium md:text-3xl lg:text-4xl">
                If you have a new project in mind or if you want to know more
                about us and our process, You can join a free consultation call
                with us
            </div>
        </div>
        <!-- <div class="mt-10 max-w-sm font-medium">
            We craft bespoke solutions that not only meet your goals but exceed
            your expectations
        </div> -->
    </div>
</div>
